
.main
{
    padding-top: 50px;
    padding-left:20px ;
    background-color: rgb(28, 34, 36);
    height: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}
.right
{
    width: 300px;
    margin-left: 100px;
    color:rgba(243, 205, 161, 0.939);
}
.smol
{
    font-size: 17px;
    color: rgba(154, 150, 144, 0.774);
}
.left
{
    margin-bottom: 120px;
    margin-left: 800px;
    display:flex;
    flex-direction: column;
    
}
.vertical
{
    position: absolute;
    top:50px;
    height: 500px;
    border-left: 3px solid rgba(243, 205, 161, 0.939);
}
.action
{
    color: rgba(243, 205, 161, 0.939);
    margin-left: 30px;
    width: 180px;
    margin-top: -293px;
}
.b,.b2
{
    border: 1px solid rgba(243, 205, 161, 0.939);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    color: rgba(243, 205, 161, 0.939);
    background-color: rgb(28, 34, 36);
    font-size: 17px;  
}
.b:hover
{
    background-color: rgba(243, 205, 161, 0.238);
    cursor: pointer;
}
.b2
{
    border: none;
    background-color: rgb(28, 34, 36);
    color: rgba(243, 205, 161, 0.939);
}


 /* after the buttons are clicked*/

 .memee, .jokee
 {
    color:rgba(243, 205, 161, 0.939);
    position: absolute;
    margin-left: 100px;
    top:170px;
    width: 300px;
    height: 260px;
 }
 .yo
 {
    color:  rgb(246, 15, 15);
 }

 .yo2
 {
    color: green;
 }